@model UploadViewModel
@{
    ViewData["Title"] = "ایمپورت فایل اکسل";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form class="smart-form" method="post" enctype="multipart/form-data" asp-action="Index" style="width:90%;margin:0 auto;">
        <fieldset>
            <section class="col col-6">
                <label class="label">گروه داده ای</label>
                <label class="input">
                    <select id="DataCategoryID" name="DataCategoryID" class="select2" style="width:100%;">
                        @if (Model.ListDataCategories?.Any() ?? false)
                        {
                            foreach (var item in Model.ListDataCategories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </label>
                <span asp-validation-for="DataCategoryID" class="text-danger"></span>
            </section>
            <section class="col col-6">
                <label class="label">
                    <label asp-for="File"></label>
                </label>
                <label class="input">
                    <input type="file" asp-for="File" class="custom-file-input" />
                    <label asp-for="File" class="custom-file-label">انتخاب فایل اکسل</label>
                </label>
                <span asp-validation-for="File" class="text-danger"></span>
            </section>
            <section class="col col-6">
                <label class="label">
                    <label asp-for="SheetName"></label>
                </label>
                <label class="input">
                    <input asp-for="SheetName" class="ltr text-center" />
                </label>
                <span asp-validation-for="SheetName" class="text-danger"></span>
            </section>
            <section class="col col-6">
                <label class="label">
                    <label asp-for="ColumnsType"></label>
                </label>
                <label class="input">
                    <select asp-for="ColumnsType" class="select2" style="width:100%;" disabled>
                        <option value="Code">کد</option>
                        <option value="Name" selected="selected">نام</option>
                        <option value="Title">عنوان</option>
                    </select>
                </label>
                <span asp-validation-for="ColumnsType" class="text-danger"></span>
            </section>
        </fieldset>
        <footer>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </footer>
        <footer>
            <button type="submit" class="btn btn-success">بارگذاری و ثبت داده‌ها</button>
            &nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-default" onclick="resetDrps();">فرم خام</button>
        </footer>
    </form>
</div>

<script>
    function resetDrps() {
        setTimeout(function () {
            $('.select2').trigger('change');
        }, 500);
    }
</script>
